<div id="section-{{ section.id }}" class="{% unless section.settings.show_on_desktop %} section--simple-heading medium--hide large--hide{% endunless %} {% unless section.settings.show_on_mobile %} small--hide{% endunless %} {{ section.settings.section_style }}" data-section-id="{{ section.id }}" data-section-type="simple-heading">
    <div class="wrapper">
        {%- unless section.settings.title == blank -%}
            <h2>{{ section.settings.title | escape }}</h2>
          {%- endunless -%}
    </div>
</div>
  
  {% schema %}
    {
      "name": "simple heading section",
      "class": "simple heading section",
      "settings": [
         {
          "type": "checkbox",
          "id": "show_on_desktop",
          "label": "t:sections.featured_content.settings.show_on_desktop.label",
          "default": true
         },
         {
          "type": "checkbox",
          "id": "show_on_mobile",
          "label": "t:sections.featured_content.settings.show_on_mobile.label",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.featured_content.settings.title.label",
          "default": "Featured content"
        }
        
      ],
      "presets": [
        {
          "name": "t:sections.featured_content.presets.name",
          "category": "t:sections.featured_content.presets.category"
        }
      ]
    }
  {% endschema %}
  