*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

#section-template--14249963716654__16417123741684874d {
  --tw-bg-opacity: 1;
  background-color: rgb(8 69 126 / var(--tw-bg-opacity))
}

body {
  font-family: Barlow;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

h1, h2, h3, h4, h5, h6 {
  font-family: Barlow Condensed
}

.site-footer .box h6 {
  font-family: Barlow Condensed
}

.site-footer .site-footer__linklist a {
  text-transform: capitalize
}

.top-footer {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

@media (min-width: 1024px) {
  .top-footer {
    padding-top: 2rem;
    padding-bottom: 2rem
  }
}

.top-footer h6 {
  font-family: Barlow Condensed;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  --tw-text-opacity: 1 !important;
  color: rgb(17 24 39 / var(--tw-text-opacity)) !important
}

.top-footer .top-footer__inner {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content
}

.top-footer .top-footer__inner .footer-social-icons__wrapper {
  margin-top: 0.5rem
}

@media (min-width: 1024px) {
  .top-footer .top-footer__inner .footer-social-icons__wrapper {
    margin-top: 1rem
  }
}

.top-footer .top-footer__inner .footer-social-icons__wrapper .social-medias {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  display: flex;
  justify-content: center
}

.top-footer .top-footer__inner .footer-social-icons__wrapper .social-medias a {
  display: block;
  padding: 0.5rem
}

.top-footer .top-footer__inner .footer-social-icons__wrapper .social-medias a svg {
  width: 2rem;
  fill: currentColor;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.footer-newsletter input[type="text"], .footer-newsletter input[type="email"] {
  border-radius: 0px;
  border-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
  background-color: transparent
}

.footer-newsletter h6 {
  font-size: 1.5rem;
  line-height: 2rem
}

.footer-newsletter .btn {
  display: block;
  max-width: 250px;
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
  background-color: transparent
}

@media (min-width: 1024px) {
  .footer-newsletter .btn {
    margin-left: auto
  }
}

.footer__bottom {
  padding-top: 1rem;
  padding-bottom: 1.5rem
}

@media (min-width: 1024px) {
  .footer__bottom {
    padding-top: 2rem;
    padding-bottom: 2rem
  }
}

.footer__bottom span {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.before-bottom .before-bottom__logo-group {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}

@media (min-width: 1024px) {
  .before-bottom .before-bottom__logo-group {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-bottom: 1.5rem
  }
}

.before-bottom .before-bottom__logo-group > .logo-group__image {
  margin-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

@media (min-width: 768px) {
  .before-bottom .before-bottom__logo-group > .logo-group__image {
    margin-bottom: 0px
  }
}

@media (min-width: 1024px) {
  .before-bottom .before-bottom__logo-group > .logo-group__image {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }
}

.before-bottom .before-bottom__logo-group > .logo-group__image img {
  width: auto;
  border-radius: 0px;
  -o-object-fit: contain;
     object-fit: contain
}

.before-bottom .before-bottom__acknowledge {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap
}

@media (min-width: 1024px) {
  .before-bottom .before-bottom__acknowledge {
    margin-bottom: 0px
  }
}

.before-bottom .before-bottom__acknowledge > div {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.before-bottom .before-bottom__acknowledge .acknowledge__caption {
  margin-bottom: 0.75rem;
  max-width: 600px;
  font-size: 0.875rem;
  line-height: 1.25rem
}

@media (min-width: 768px) {
  .before-bottom .before-bottom__acknowledge .acknowledge__caption {
    margin-bottom: 0px
  }
}

.before-bottom .before-bottom__acknowledge .acknowledge__image img {
  border-radius: 0px
}

.before-bottom .before-bottom__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

@media (min-width: 1024px) {
  .before-bottom .payment-icons__wrapper {
    text-align: right
  }
}

.before-bottom .payment-icons__wrapper .payment-icons .payment-icon {
  /* @apply filter grayscale invert-0; */
}

.before-bottom .payment-icons__wrapper .payment__caption {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}
