*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

.section--simple-heading {
  padding-top: 2rem;
  padding-bottom: 2rem
}

@media (min-width: 1024px) {
  .section--simple-heading {
    padding-top: 4rem;
    padding-bottom: 4rem
  }
}

.section--simple-heading h2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  line-height: 1.25
}

@media (min-width: 1024px) {
  .section--simple-heading h2 {
    font-size: 2.25rem;
    line-height: 2.5rem
  }
}

@media (min-width: 1280px) {
  .section--simple-heading h2 {
    font-size: 44px
  }
}

.section--customise-your-product {
  --tw-bg-opacity: 1;
  background-color: rgb(241 242 242 / var(--tw-bg-opacity))
}

.section--customise-your-product .box {
  padding-bottom: 0px
}

.section--customise-your-product .cyp__intro .section-header {
  margin-bottom: 0px
}

@media (min-width: 1024px) {
  .section--customise-your-product .cyp__intro .section-header {
    margin-bottom: 2.5rem
  }
}

.section--customise-your-product .cyp__intro .section-header h2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  line-height: 1.25
}

@media (min-width: 1024px) {
  .section--customise-your-product .cyp__intro .section-header h2 {
    font-size: 2.25rem;
    line-height: 2.5rem
  }
}

@media (min-width: 1280px) {
  .section--customise-your-product .cyp__intro .section-header h2 {
    font-size: 44px
  }
}

@media (min-width: 1024px) {
  .section--customise-your-product .block--customise-by-collection {
    margin-bottom: 0px
  }
}

.section--customise-your-product .block--customise-by-collection .cbc__inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: 250px;
  max-width: 375px;
  overflow: hidden;
  text-align: left
}

@media (min-width: 1024px) {
  .section--customise-your-product .block--customise-by-collection .cbc__inner {
    margin-left: 0px;
    margin-right: 0px;
    min-height: 400px
  }
}

.section--customise-your-product .block--customise-by-collection .cbc__image {
  position: absolute;
  bottom: 0px;
  left: 140px;
  height: 250px;
  width: 188px;
  overflow: hidden;
  padding-top: 0px !important
}

@media (min-width: 1024px) {
  .section--customise-your-product .block--customise-by-collection .cbc__image {
    height: 400px
  }
}

@media (min-width: 1280px) {
  .section--customise-your-product .block--customise-by-collection .cbc__image {
    left: 170px
  }
}

.section--customise-your-product .block--customise-by-collection .cbc__collection-links > li {
  margin-bottom: 0.25rem
}

@media (min-width: 1024px) {
  .section--customise-your-product .block--customise-by-collection .cbc__collection-links > li {
    margin-bottom: 0.5rem
  }
}

.section--customise-your-product .block--customise-by-collection .cbc__collection-links > li a {
  font-weight: 600
}

.section--customise-your-product .block--customise-by-collection .cbc__heading {
  margin-bottom: 0.75rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(8 69 126 / var(--tw-text-opacity))
}

@media (min-width: 1024px) {
  .section--customise-your-product .block--customise-by-collection .cbc__heading {
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem
  }
}

@media (min-width: 1280px) {
  .section--customise-your-product .block--customise-by-collection .cbc__heading {
    font-size: 40px
  }
}

@media (min-width: 1024px) {
  .section--customise-your-product .block--customise-by-collection.cbc--men .cbc__image {
    height: 399px
  }

  .section--customise-your-product .block--customise-by-collection.cbc--women .cbc__image {
    height: 378px
  }

  .section--customise-your-product .block--customise-by-collection.cbc--kids .cbc__image {
    height: 338px
  }
}

.section--customise-your-product .block--customise-by-collection.cbc--women .cbc__image, .section--customise-your-product .block--customise-by-collection.cbc--kids .cbc__image {
  left: 120px
}

@media (min-width: 1280px) {
  .section--customise-your-product .block--customise-by-collection.cbc--women .cbc__image, .section--customise-your-product .block--customise-by-collection.cbc--kids .cbc__image {
    left: 140px
  }
}

.section--collection-columns .box {
  padding-bottom: 0px
}

.section--collection-columns .cc__intro .section-header {
  margin-bottom: 0px
}

@media (min-width: 1024px) {
  .section--collection-columns .cc__intro .section-header {
    margin-bottom: 2.5rem
  }
}

.section--collection-columns .cc__intro .section-header h2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  line-height: 1.25
}

@media (min-width: 1024px) {
  .section--collection-columns .cc__intro .section-header h2 {
    font-size: 2.25rem;
    line-height: 2.5rem
  }
}

@media (min-width: 1280px) {
  .section--collection-columns .cc__intro .section-header h2 {
    font-size: 44px
  }
}

@media (min-width: 1024px) {
  .section--collection-columns .block--customise-by-industry {
    margin-bottom: 0px
  }
}

.section--collection-columns .block--customise-by-industry .cbi__inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: 250px;
  overflow: hidden;
  --tw-bg-opacity: 1;
  background-color: rgb(209 211 212 / var(--tw-bg-opacity));
  padding: 0.5rem;
  text-align: left
}

@media (min-width: 1024px) {
  .section--collection-columns .block--customise-by-industry .cbi__inner {
    margin-left: 0px;
    margin-right: 0px;
    min-height: 400px;
    padding: 1.5rem
  }
}

.section--collection-columns .block--customise-by-industry .cbi__image {
  position: absolute;
  bottom: 0px;
  right: 1rem;
  height: 250px;
  width: 188px;
  overflow: hidden;
  padding-top: 0px !important
}

@media (min-width: 1024px) {
  .section--collection-columns .block--customise-by-industry .cbi__image {
    height: 400px
  }
}

.section--collection-columns .block--customise-by-industry .cbi__collection-links > li {
  margin-bottom: 0.25rem
}

@media (min-width: 1024px) {
  .section--collection-columns .block--customise-by-industry .cbi__collection-links > li {
    margin-bottom: 0.5rem
  }
}

.section--collection-columns .block--customise-by-industry .cbi__collection-links > li a {
  font-weight: 600
}

.section--collection-columns .block--customise-by-industry .cbi__link a {
  display: inline-block;
  --tw-bg-opacity: 1;
  background-color: rgb(8 69 126 / var(--tw-bg-opacity));
  padding: 0.5rem;
  font-family: Barlow Condensed;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 1024px) {
  .section--collection-columns .block--customise-by-industry .cbi__link a {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }
}

.section--collection-columns .block--customise-by-industry .cbi__intro {
  --tw-bg-opacity: 1;
  background-color: rgb(8 69 126 / var(--tw-bg-opacity));
  padding: 0.5rem;
  text-align: center
}

@media (min-width: 1024px) {
  .section--collection-columns .block--customise-by-industry .cbi__intro {
    padding: 1rem
  }
}

.section--collection-columns .block--customise-by-industry .cbi__intro .cbi__heading {
  margin-top: 0px;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 1024px) {
  .section--collection-columns .block--customise-by-industry .cbi__intro .cbi__heading {
    font-size: 1.5rem;
    line-height: 2rem
  }
}

@media (min-width: 1280px) {
  .section--collection-columns .block--customise-by-industry .cbi__intro .cbi__heading {
    font-size: 30px
  }
}

@media (min-width: 1024px) {
  .section--collection-columns .block--customise-by-industry.cbc--men .cbc__image {
    height: 399px
  }

  .section--collection-columns .block--customise-by-industry.cbc--women .cbc__image {
    height: 378px
  }

  .section--collection-columns .block--customise-by-industry.cbc--kids .cbc__image {
    height: 338px
  }
}

.section--collection-columns .block--customise-by-industry.cbc--women .cbc__image, .section--collection-columns .block--customise-by-industry.cbc--kids .cbc__image {
  left: 120px
}

@media (min-width: 1280px) {
  .section--collection-columns .block--customise-by-industry.cbc--women .cbc__image, .section--collection-columns .block--customise-by-industry.cbc--kids .cbc__image {
    left: 140px
  }
}

#section-template--14249950019630__16417123741684874d, #section-template--14249963716654__16417123741684874d {
  --tw-bg-opacity: 1;
  background-color: rgb(8 69 126 / var(--tw-bg-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem
}

@media (min-width: 1024px) {
  #section-template--14249950019630__16417123741684874d, #section-template--14249963716654__16417123741684874d {
    padding-top: 0px;
    padding-bottom: 0px
  }
}

#section-template--14249950019630__16417123741684874d .grid, #section-template--14249963716654__16417123741684874d .grid {
  align-items: center;
  justify-content: center
}

#section-template--14249950019630__16417123741684874d .grid .grid__item, #section-template--14249963716654__16417123741684874d .grid .grid__item {
  margin-bottom: 0px
}

#section-template--14249950019630__16417123741684874d .grid .item .icon_box, #section-template--14249963716654__16417123741684874d .grid .item .icon_box {
  padding: 1.25rem
}

#section-template--14249950019630__16417123741684874d .grid .item .icon_box h4, #section-template--14249963716654__16417123741684874d .grid .item .icon_box h4 {
  margin-top: 0.5rem;
  margin-bottom: 0px;
  font-family: Barlow;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

#section-template--14249950019630__16417123741684874d img, #section-template--14249963716654__16417123741684874d img {
  max-width: 120px
}

body {
  font-family: Barlow;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

h1, h2, h3, h4, h5, h6 {
  font-family: Barlow Condensed
}

@media (min-width: 1024px) {
  .site-footer .box {
    padding-bottom: 0px
  }
}

.site-footer .box h6 {
  margin-bottom: 1rem;
  font-family: Barlow Condensed
}

@media (min-width: 1024px) {
  .site-footer .box h6 {
    margin-bottom: 1.25rem
  }
}

.site-footer .site-footer__linklist a {
  text-transform: capitalize
}

.top-footer {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

@media (min-width: 1024px) {
  .top-footer {
    padding-top: 2rem;
    padding-bottom: 2rem
  }
}

.top-footer h6 {
  font-family: Barlow Condensed;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  --tw-text-opacity: 1 !important;
  color: rgb(17 24 39 / var(--tw-text-opacity)) !important
}

.top-footer .top-footer__inner {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content
}

.top-footer .top-footer__inner .footer-social-icons__wrapper {
  margin-top: 0.5rem
}

@media (min-width: 1024px) {
  .top-footer .top-footer__inner .footer-social-icons__wrapper {
    margin-top: 1rem
  }
}

.top-footer .top-footer__inner .footer-social-icons__wrapper .social-medias {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  display: flex;
  justify-content: center
}

.top-footer .top-footer__inner .footer-social-icons__wrapper .social-medias li {
  margin-right: 0px;
  margin-bottom: 0px
}

.top-footer .top-footer__inner .footer-social-icons__wrapper .social-medias li a {
  display: block;
  padding: 0.5rem
}

.top-footer .top-footer__inner .footer-social-icons__wrapper .social-medias li a svg {
  width: 2rem;
  fill: currentColor;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.footer-newsletter input[type="text"], .footer-newsletter input[type="email"] {
  border-radius: 0px;
  border-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
  background-color: transparent
}

.footer-newsletter h6 {
  font-size: 1.5rem;
  line-height: 2rem
}

.footer-newsletter .btn {
  display: block;
  max-width: 180px;
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
  background-color: transparent;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: Barlow;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase
}

@media (min-width: 1024px) {
  .footer-newsletter .btn {
    margin-left: auto
  }
}

.footer__bottom {
  padding-top: 1rem;
  padding-bottom: 1.5rem
}

@media (min-width: 1024px) {
  .footer__bottom {
    padding-top: 2rem;
    padding-bottom: 2rem
  }
}

.footer__bottom span {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.before-bottom .before-bottom__logo-group {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}

@media (min-width: 1024px) {
  .before-bottom .before-bottom__logo-group {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-bottom: 1.5rem
  }
}

.before-bottom .before-bottom__logo-group > .logo-group__image {
  margin-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

@media (min-width: 768px) {
  .before-bottom .before-bottom__logo-group > .logo-group__image {
    margin-bottom: 0px
  }
}

@media (min-width: 1024px) {
  .before-bottom .before-bottom__logo-group > .logo-group__image {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }
}

.before-bottom .before-bottom__logo-group > .logo-group__image img {
  width: auto;
  border-radius: 0px;
  -o-object-fit: contain;
     object-fit: contain
}

.before-bottom .before-bottom__acknowledge {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap
}

@media (min-width: 1024px) {
  .before-bottom .before-bottom__acknowledge {
    flex: 1 1 0%
  }
}

@media (min-width: 1280px) {
  .before-bottom .before-bottom__acknowledge {
    margin-bottom: 0px
  }
}

.before-bottom .before-bottom__acknowledge > div {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.before-bottom .before-bottom__acknowledge .acknowledge__caption {
  margin-bottom: 0.75rem;
  max-width: 600px;
  flex: 1 1 0%;
  font-size: 0.875rem;
  line-height: 1.25rem
}

@media (min-width: 1024px) {
  .before-bottom .before-bottom__acknowledge .acknowledge__caption {
    margin-bottom: 0px
  }
}

.before-bottom .before-bottom__acknowledge .acknowledge__image img {
  height: 45;
  width: auto;
  border-radius: 0px
}

.before-bottom .before-bottom__bottom {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

@media (min-width: 1024px) {
  .before-bottom .before-bottom__bottom {
    margin-left: -2.5rem;
    margin-right: -2.5rem
  }
}

.before-bottom .before-bottom__bottom > div {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

@media (min-width: 1024px) {
  .before-bottom .before-bottom__bottom > div {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }

  .before-bottom .payment-icons__wrapper {
    text-align: right
  }
}

.before-bottom .payment-icons__wrapper .payment-icons .payment-icon {
  /* @apply filter grayscale invert-0; */
}

.before-bottom .payment-icons__wrapper .payment__caption {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}
